<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" style="cursor: pointer;">Recipe Book</a>
    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-link" (click)="onSelectView('recipe')" style="cursor: pointer;">Recipes</li>
            <li class="nav-item nav-link" (click)="onSelectView('shopping')" style="cursor: pointer;">Shopping List</li>
            <li ngbDropdown ngbDropdownToggle
                class="nav-item nav-link"
                style="cursor: pointer; top:auto;"
                id="dropdownMenuLink" aria-expanded="false">Manage
                <ul ngbDropdownMenu aria-labelledby="dropdownMenuLink"
                    style="position: absolute; right: 0; top: auto; left: auto;">
                    <li ngbDropdownItem>Action</li>
                    <li ngbDropdownItem>Another action</li>
                    <li ngbDropdownItem>Something else hereheheheheheheheeheh</li>
                </ul>
            </li>
        </ul>
    </div>
</nav>



