<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" style="cursor: pointer;" routerLink="">Recipe Book</a>
    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav mr-auto">
            <li
               class="nav-item nav-link"
               routerLinkActive="active"
               routerLink="/recipes"
               style="cursor: pointer;">Recipes</li>
            <li
               class="nav-item nav-link"
               routerLinkActive="active"
               routerLink="/shopping-list"
               style="cursor: pointer;">Shopping List</li>
            <li ngbDropdown ngbDropdownToggle
                class="nav-item nav-link"
                style="cursor: pointer; top:auto;"
                id="dropdownMenuLink" aria-expanded="false">Manage
                <ul ngbDropdownMenu aria-labelledby="dropdownMenuLink"
                    style="position: absolute; right: 0; top: auto; left: auto;">
                    <li ngbDropdownItem>Save Data</li>
                    <li ngbDropdownItem>Fetch Data</li>
                </ul>
            </li>
        </ul>
    </div>
</nav>



