<div class="row">
   <div class="col">
      <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
         <div class="row">
            <div class="col-12">
               <h3 style="color:steelblue"
                   *ngIf="!editMode">Add Recipe</h3>
               <h3 style="color:steelblue"
                   *ngIf="editMode">Editing Recipe number: {{idOfSelectedRecipe + 1}}</h3>
            </div>
         </div>
         <div class="col-12 input-group w-100">
            <label class="input-group-text w-25" for="recipeName">Recipe Name:</label>
            <input
               type="text"
               id="recipeName"
               class="form-control"
               formControlName="name">
         </div>
         <div class="col-12 input-group w-100">
            <label class="w-25 input-group-text" for="imgPath">Image URL:</label>
            <input
               type="text"
               id="imgPath"
               class="form-control"
               formControlName="imgPath">
         </div>
         <div class="row">
            <div class="col-12">
               <img src="" alt="" class="img-thumbnail">
            </div>
         </div>
         <div class="row">
            <div class="col-12 input-group w-100">
               <label class="input-group-text w-25" for="description">Description</label>
               <textarea
                  rows="6"
                  class="form-control"
                  id="description"
                  formControlName="description"></textarea>
            </div>
         </div>



         <h5>Ingredients: </h5>
         <table class="table w-100" formArrayName="ingredients">
            <caption><button
               type="button"
               class="btn btn-primary"
               (click)="onAddIngredientButtonClick()">
               Add Ingredient
            </button></caption>
               <thead>
               <tr class="table-info">
                  <th scope="col" class="col-1">#</th>
                  <th scope="col" class="col-4">Name</th>
                  <th scope="col" class="col-3">Amount</th>
                  <th scope="col" class="col-3">Measure Type</th>
                  <th scope="col" class="col-1">Actions</th>
               </tr>
               </thead>
               <tbody>
               <tr
                  *ngFor = "let ingCtrl of controls; let i = index;"
                   [formGroupName]="i">
                  <th scope="row">{{i +1}}</th>
                  <td><input
                     type="text"
                     id="ingName"
                     class="form-control"
                     formControlName="name"
                  ></td>
                  <td><input
                     type="number"
                     id="ingAmount"
                     class="form-control"
                     formControlName="amount"></td>
                  <td><select ngbDropdown ngbDropdownToggle
                              class="form-select"
                              id="dropdownMeasure"
                              aria-expanded="false"
                              name="measureType"
                              formControlName="measureType">
                     <option value="none" selected disabled hidden></option>
                     <option *ngFor="let measureOptions of measureTypes"
                             [value]="measureOptions">{{measureOptions}}</option>
                  </select></td>
                  <td><button
                     type="button"
                     class="btn btn-danger"
                     (click) = "onDeleteIngredientFromRecipeEdit(i)">X</button></td>
               </tr>
               </tbody>
            </table>


<!--         <div class="row" formArrayName="ingredients">-->
<!--            <div-->
<!--                  class="row"-->
<!--                  *ngFor = "let ingCtrl of controls; let i = index;"-->
<!--                  [formGroupName]="i">-->
<!--               <div class="col-5">-->
<!--                  <label class="input-group-text" for="ingName">Name</label>-->
<!--                  <input-->
<!--                     type="text"-->
<!--                     id="ingName"-->
<!--                     class="form-control"-->
<!--                     formControlName="ingName"-->
<!--                  >-->
<!--               </div>-->
<!--               <div class="col-3">-->
<!--                  <label class="input-group-text" for="ingAmount">Amount</label>-->
<!--                  <input-->
<!--                     type="number"-->
<!--                     id="ingAmount"-->
<!--                     class="form-control"-->
<!--                     formControlName="ingAmount"-->
<!--                     min="1"-->
<!--                     oninput="validity.valid||(value='');"-->
<!--                     [pattern]="'^[1-9]+[0-9]*$'">-->
<!--               </div>-->
<!--               <div class="col-3">-->
<!--                  <label class="input-group-text" for="dropdownMeasure">Measure Type</label>-->
<!--                  <select ngbDropdown ngbDropdownToggle-->
<!--                          class="form-select"-->
<!--                          id="dropdownMeasure"-->
<!--                          aria-expanded="false"-->
<!--                          name="measureType"-->
<!--                          formControlName="dropdownMeasure"-->
<!--                          required>-->
<!--                     <option value="none" selected disabled hidden></option>-->
<!--                     <option *ngFor="let measureOptions of measureTypes"-->
<!--                             [value]="measureOptions">{{measureOptions}}</option>-->
<!--                  </select>-->
<!--               </div>-->
<!--               <div class="col-1">-->
<!--                  <button-->
<!--                     class="btn btn-danger"-->
<!--                     (click) = "onDeleteIngredientFromRecipeEdit()">X</button>-->
<!--               </div>-->
<!--            </div>-->
<!--         </div>-->


         <hr>
         <div class="row mt-5 justify-content-between">
            <div class="col-3">
               <button
                  [disabled]="!recipeForm.valid"
                  type="submit"
                  class="m-2 btn btn-success"
                  >Save Recipe</button>
            </div>
            <div class="col-3">
               <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onFormClearButtonClick()">Clear Form</button>
            </div>
         </div>

         <div class="row w-auto">
            <div *ngIf="!recipeForm.valid && recipeForm.touched"
                 class="alert alert-info"
            >Provide all necessary info about recipe</div>
         </div>
      </form>
   </div>
</div>
