<div class="row" style="height: 300px;">
   <div class="col-12 h-100 d-inline-block">
      <img src="{{selectedForDetail.imgPath}}" alt="" class="img-fluid h-100">
   </div>
</div>
<div class="row">
   <div class="col-12">
      <h2 class="fw-bold">{{selectedForDetail.name}}</h2>
   </div>
</div>
<div class="row">
   <div class="col-12">
      <div ngbDropdown ngbDropdownToggle class="btn btn-primary"
           style="cursor: pointer; top:auto;"
           id="dropdownMenuLink"
           aria-expanded="false">Recipe Options
         <ul ngbDropdownMenu aria-labelledby="dropdownMenuLink" style="position: absolute;">
            <li ngbDropdownItem (click)="addIngredientsToShoppingList()">Add ingredients to Shopping List</li>
            <li ngbDropdownItem>Edit Recipe</li>
            <li ngbDropdownItem>Delete Recipe</li>
         </ul>
      </div>
   </div>
</div>
<div class="row">
   <h5>Needed Ingredients:</h5>
   <ol class="list-group list-group-numbered">
      <li class="list-group-item
         d-flex
         justify-content-between
         align-items-start"
         *ngFor="let recipeIng of selectedForDetail.ingredients">
         <div class="ms-2 me-auto">
            {{recipeIng.name}}
         </div>
         <span class="badge bg-primary rounded-pill" style="font-size: medium">
            {{recipeIng.amount}}
            {{recipeIng.measureType}}</span>
      </li>
   </ol>
</div>
<hr>
<div class="row">
   <div class="col-12">
      <h5>Description:</h5>
      {{selectedForDetail.description}}
   </div>
</div>

