<div class="row" style="height: 300px;">
   <div class="col-12 h-100 d-inline-block">
      <img src="{{selectedForDetail.imgPath}}" alt="" class="img-fluid h-100">
   </div>
</div>
<div class="row">
   <div class="col-12">
      <h2 class="fw-bold">{{selectedForDetail.name}}</h2>
   </div>
</div>
<div class="row">
   <div class="col-3">
      <div ngbDropdown ngbDropdownToggle class="btn btn-primary"
           style="cursor: pointer; top:auto;"
           id="dropdownMenuLink"
           aria-expanded="false">Recipe Options<span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                                    *ngIf="ingredientAlert">Ingredients added to shopping list!</span>
         <ul ngbDropdownMenu aria-labelledby="dropdownMenuLink" style="position: absolute;">
            <li ngbDropdownItem (click)="addIngredientsToShoppingList()">Add ingredients to Shopping List</li>
            <li ngbDropdownItem routerLink="/recipes/{{idOfRecipe}}/edit">Edit Recipe</li>
            <li ngbDropdownItem (click)="onDeleteSelect(idOfRecipe)">Delete Recipe</li>
         </ul>
      </div>
   </div>
<!--   <div class="col-9">-->
<!--      <div class="alert alert-success" -->
<!--         *ngIf="ingredientAlert">-->
<!--         <div>-->
<!--            Ingredients added to shopping list!-->
<!--         </div>-->
<!--      </div>-->
<!--   </div>-->
</div>
<br>
<div class="row">
   <span
      class="badge bg-info text-dark"
      >Needed Ingredients <span class="badge bg-secondary">
         {{selectedForDetail.ingredients.length}}
      </span>
   </span>
   <ol class="list-group list-group-numbered w-100 p-0">
      <li class="list-group-item
         d-flex
         justify-content-between
         align-items-start"
         *ngFor="let recipeIng of selectedForDetail.ingredients">
         <div class="ms-2 me-auto">
            {{recipeIng.name}}
         </div>
         <span class="badge bg-primary rounded-pill" style="font-size: medium">
            {{recipeIng.amount}}
            {{recipeIng.measureType}}</span>
      </li>
   </ol>
</div>
<hr>
<div class="row">
   <div class="col-12">
      <h5>Description:</h5>
      {{selectedForDetail.description}}
   </div>
</div>

