<h3 *ngIf="!editingStarted" style="color:steelblue">Add Ingredient</h3>
<h3 *ngIf="editingStarted" style="color:steelblue">Edit Ingredient number: {{editingItemIndex +1}}</h3>
<div class="row">
   <div class="col-12">
      <form
         (ngSubmit)="onIngredientSubmit(ingredientForm)"
         #ingredientForm = "ngForm">
         <div class="row">
            <div class="form-group col-6">
               <label for="nameForm">Name</label>
               <input
                  type="text"
                  id="nameForm"
                  name="name"
                  class="form-control"
                  ngModel
                  required>
            </div>
            <div class="form-group col-3">
               <label for="amountForm">Amount</label>
               <input
                  type="number"
                  id="amountForm"
                  name="amount"
                  class="form-control"
                  ngModel
                  required
                  min="1"
                  oninput="validity.valid||(value='');"
                  [pattern]="'^[1-9]+[0-9]*$'">
            </div>
            <div class="form-group col-3">
               <label for="dropdownMeasure">Measure Type</label>
               <select ngbDropdown ngbDropdownToggle
                       class="form-select"
                       id="dropdownMeasure"
                       aria-expanded="false"
                       name="measureType"
                       ngModel
                        required>
                  <option *ngFor="let measureOptions of measureTypes"
                          [value]="measureOptions">{{measureOptions}}</option>
               </select>
            </div>
            <div class="row">
               <div class="col">
                  <button [disabled]="!ingredientForm.valid" class=" btn btn-success" type="submit">{{ editingStarted ? 'Update' : 'Add' }}</button>

                  <button class="m-2 btn btn-primary"
                          type="button"
                           (click)="onClearFormButtonClick()">
                              Clear</button>
                  <button class="btn btn-danger"
                          *ngIf="editingStarted"
                          type="button"
                          (click)="onDeleteIngredientButtonClick()">
                     Delete</button>
               </div>
            </div>
            <div class="row w-auto">
               <div *ngIf="!ingredientForm.valid && ingredientForm.touched"
                    class="alert alert-info"
               >Provide all info about ingredient</div>
            </div>
         </div>
      </form>
   </div>
</div>
